@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Playwrite NZ Basic", cursive;
}

.container-app-name {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.streak {
    padding-top: 8px;
}

.head {
    justify-content: center;
    display: flex;
}
.image {
    justify-items: center;
    display: flex;
    width: 400px;
    height: auto;
}

.streak-container {
    margin: 20px;
}

.streak-container, ul {
    list-style-type: none;
}

.container-habit {
    margin: 20px;
}

.container-heatmap {
    margin: 20px;
}
.add-container {
    margin: 6px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.add {
    width: 100%;
}

.list-container {
    margin-top: 6px;
}

.analis {
    background-color: #30a14e;
}
li {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: larger;
}

.action {
    margin: 5px;
}

.heatmap-container {  
    margin-top: 8px;    
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #ccc;
}

.container {
    margin: 20px;
}

.deskrip-heatmap {
    display: flex;
    margin: 8px;
}

.statistik-container {
    width: 100%;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #ccc;
}

button {
    padding: 8px 12px;
    margin: 2px;
}

form {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.search-and-clear {
    display: flex;
    justify-content: space-between;
}

.button-add {
    width: 30%;
    height: auto;
    padding: 4px 14px;
    margin-left: -2px;
    margin-right: 8px;
}

input {
    width: 70%;
    height: auto;
    margin-top: 2px;
    margin-left: -4px;
}

.day {
  width: 12px;
  height: 12px;
  border-radius: 2px;
}

.des {
    margin-top: 8px;
    display: flex;
    margin-left: 6px;
    margin-right: 6px;
}

.container-analis {
    margin-top: 8px;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #ccc;
}

.level-0 { background-color: #ebedf0; } 
.level-1 { background-color: #9be9a8; }
.level-2 { background-color: #40c463; }
.level-3 { background-color: #30a14e; }
.level-4 { background-color: #216e39; }

.streak {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fire-wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  padding-bottom: 4px;
}

.streak-number {
  position: absolute;
  z-index: 1;
  font-size: 0.5em;
  font-weight: bold;
  color: white;
  margin-top: 12px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.fire-icon {
  line-height: 1;
}


footer {
    display: flex;
    justify-content: center;
}