@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Playwrite NZ Basic", cursive;
}

.container-app-name {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.streak {
    padding-top: 8px;
}

.head {
    justify-content: center;
    display: flex;
}
.image {
    justify-items: center;
    display: flex;
    width: 400px;
    height: auto;
}

.streak-container {
    margin: 20px;
}

.streak-container, ul {
    list-style-type: none;
}

.container-habit {
    margin: 20px;
}

.container-heatmap {
    margin: 20px;
}
.add-container {
    margin: 6px;
    display: flex;
    justify-content: space-between;
}

.list-container {

}

.analis {
    background-color: #30a14e;
}
li {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: larger;
}

.action {
    margin: 5px;
}

.heatmap-container {       /* Lebar sesuai layar */
    overflow-x: auto;   /* Munculkan scrollbar hanya jika konten melebihi lebar */
    white-space: nowrap; /* Mencegah teks/elemen turun ke baris baru */
    border: 1px solid #ccc;
    background-color: aqua;
}

.statistik-container {
    background-color: aquamarine;
    width: 100%;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #ccc;
    background-color: aqua;
}

button {
    padding: 4px 14px;
}

input {
    width: 100px;
    height: 40px;
}

.day {
  width: 12px;
  height: 12px;
  border-radius: 2px;
}

.container-analis {
    margin: 20px;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid #ccc;
}

/* Skala warna GitHub */
.level-0 { background-color: #ebedf0; } /* Tidak ada */
.level-1 { background-color: #9be9a8; } /* Sedikit */
.level-2 { background-color: #40c463; } /* Sedang */
.level-3 { background-color: #30a14e; } /* Banyak */
.level-4 { background-color: #216e39; } /* Sangat banyak */


footer {
    display: flex;
    justify-content: center;
}